
.blogContainer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    display: flex;
}


.blogTitle {
    font-size: 35px;
}

.blogDate {
    font-size: 28px;
    font-style: italic;
}