.indexContainer {
  display: flex;
  align-self: center;
  flex-direction: column;
  font-size: 20px;
}

.projectContainer {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.children{
  justify-content: center;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  width: 600px;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 10px;
  transition: all .2s ease-in-out;
}


.projectCard:hover{
  transform: scale(1.1);
}

.projectCard a:nth-of-type(2){
  color: black;
  align-self: center;
}
.projectCard a:nth-of-type(2):hover{
  transform: scale(1.1);
}

@media (max-width: 870px) {
  .projectContainer {
    flex-direction: column;
  }
}
@media(max-width:445px){
  .projectCard a:first-of-type {
    display:none;
  }
  .projectCard{
    max-width: 150px;
  }
}
