@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/* *{
  border: 1px solid red;
} */



body{
  width:100%;
  margin: 0;
}
.container {
  display: flex;
  min-width: 300px;
  min-height: 300px;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: #E8E2D1;
}


@media(max-width: 550px){
  body{
    display:flex
  }
}
